{% extends "user/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<!-- HOME CONTENT BELOW NAV -->
<div class="hero-section">
  <div class="container-fluid text-start">
    <h1 class="fw-bold">Welcome to SmartCart, {{ session.get('user_name') }}</h1>
<h3 class="fw-bold mt-4 mb-3">All Products</h3>
<div class="product-container">

{% for product in products %}
<div class="product-card">

    <img src="/static/uploads/product_images/{{ product.image }}">

    <h3>{{ product.name }}</h3>
    <p>{{ product.category }}</p>
    <p><strong>₹{{ product.price }}</strong></p>

    <a href="/user/product/{{ product.product_id }}">View Details</a>
</div>
{% endfor %}
</div>


  
</div>
 

{% endblock %}
