{% extends "user/base.html" %}
{% block title %}User Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            
            <div class="card shadow">
                <div class="card-body p-4">
                    
                    <h3 class="text-center mb-4">User Login</h3>

                    <!-- Flash Messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form method="POST">
                        
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">
                                Login
                            </button>
                        </div>


                        <div class="text-center mb-3">
    <a href="{{ url_for('user_forgot_password') }}"
       class="text-decoration-none small">
        Forgot Password?
    </a>
</div>


                        <div class="text-center mt-3">
                            Don't have an account?
                            <a href="{{ url_for('user_register') }}">Register here</a>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
